@page
@model BankWebApp.Pages.CustomersModel
@{
}
<table>
    <thead>

        <tr>
            <th scope="col">Id</th>
            <th scope="col">
                Name
                <a asp-page="/Customers"
                   asp-route-sortColumn="Name"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
@*                     <i class="fa-solid fa-angle-up"></i>*@
                    Up
                </a>

                <a asp-page="/Customers"
                   asp-route-sortColumn="Name"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
@*                     <i class="fa-solid fa-angle-down"></i>*@
                    Down
                </a>
            </th>
            <th scope="col">
                City
                <a asp-page="/Customers"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    @*                     <i class="fa-solid fa-angle-up"></i>*@
                    Up
                </a>

                <a asp-page="/Customers"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                    @*                     <i class="fa-solid fa-angle-down"></i>*@
                    Down
                </a>
            </th>
            <th scope="col">
                Country
                <a asp-page="/Customers"
                   asp-route-sortColumn="Country"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    @*                     <i class="fa-solid fa-angle-up"></i>*@
                    Up
                </a>

                <a asp-page="/Customers"
                   asp-route-sortColumn="Country"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                    @*                     <i class="fa-solid fa-angle-down"></i>*@
                    Down
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Model._customers)
        {
            <tr>
                <td>@cust.CustomerId</td>
                <td>@cust.Name</td>
                <td>@cust.City</td>
                <td>@cust.Country</td>
                <td>
                    <a asp-page="/Supplier" asp-route-id="@cust.CustomerId"
                       class="btn btn-primary">View</a>
                </td>
            </tr>
        }

    </tbody>

</table>