@page
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="landing-page">
    <div class="container">
        <h2 class="text-center">Overview</h2>
        <div class="totals-card">
            <div class="line">
                <h3>Total Customers:</h3>
                <div class="value">@Model._landingPageViewModel.TotalCustomers</div>
            </div>
            <div class="line">
                <h3>Total Accounts:</h3>
                <div class="value">@Model._landingPageViewModel.TotalAccounts</div>
            </div>
            <div class="line">
                <h3>Total Balance:</h3>
                <div class="value">@(Model._landingPageViewModel.TotalBalance.ToString("C2", new CultureInfo("sv-SE")))</div>
            </div>
        </div>

        <div class="top-accounts">
            <h2>Our top accounts</h2>
            <div class="country-holder">
                @foreach (var countryInfo in Model._landingPageViewModel.CountriesInfo)
                {
                    <div class="country-box">
                        <h4>@countryInfo.Country</h4>
                        <p>Total Customers: @countryInfo.TotalCustomers</p>
                        <p>Total Accounts: @countryInfo.TotalAccounts</p>
                            <p>Total Balance: @countryInfo.TotalBalance.ToString("C2", new CultureInfo("sv-SE"))</p>
                        <h5>Top Accounts</h5>
                        <ul>
                            @foreach (var balance in countryInfo.TopBalances)
                            {
                                        <li>@balance.ToString("C2", new CultureInfo("sv-SE"))</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>