@page
@using System.Globalization
@model BankWebApp.Pages.ViewSingleCustomer.IndexModel
@{
}
@if (TempData["SuccessMessage"] != null)
{
	<h2>@TempData["SuccessMessage"]</h2>
}
<section id="view-customer">
	<div class="container">
		<a asp-area="" asp-page="/AllCustomers/Index" class="btn-icon return">
			<i  class="material-symbols-outlined"> keyboard_return </i> Return
		</a>
		<h1>@Model._customer.GivenName @Model._customer.SurName</h1>
		<div class="overview">
			<h5>Number of accounts: @Model._customer.Accounts.Count</h5>
			<h5>Total balance: @Model._customer.TotalBalance.ToString("C2", new CultureInfo("sv-SE"))</h5>
		</div>
		<div class="main-content">
			<div class="account-holder">
				<h4>@Model._customer.GivenName's Accounts</h4>
				@foreach( var account in Model._customer.Accounts)
				{
					<div class="account">
						<div class="account-summary">
							<h6>Account no: @account.AccountId</h6>
							<h6>Balance: @account.Balance.ToString("C2", new CultureInfo("sv-SE"))</h6>
						</div>
						<table>
							<thead>
								<tr>
									<th scope="col">Date</th>
									<th scope="col">Operation</th>
									<th scope="col">Amount</th>
									<th scope="col">balance</th>
								</tr>
							</thead>
							<tbody>
								@foreach(var transaction in account.LatestTransactions)
								{
									<tr>
										<td>@transaction.Date</td>
										@if (!String.IsNullOrEmpty(@transaction.Operation))
										{
											<td>@transaction.Operation</td>
										}
										else
										{
											<td>N/A</td>
										}
										<td>@transaction.Amount.ToString("C2", new CultureInfo("sv-SE"))</td>
										<td>@transaction.Balance.ToString("C2",new CultureInfo("sv-SE"))</td>
									</tr>
								}
							</tbody>
							<tfoot>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tfoot>
						</table>
						<div class="buttons">
								<a asp-page="/ViewSingleCustomer/Index" asp-route-id="@account.AccountId" class="btn-view">
								View Account<i class="material-symbols-outlined"> account_balance</i>
							</a>
								<a asp-page="/ViewSingleCustomer/Index" asp-route-id="@account.AccountId" class="btn-icon">
									New Deposit<i class="material-symbols-outlined"> savings</i>
							</a>
								<a asp-page="/ViewSingleCustomer/Index" asp-route-id="@account.AccountId" class="btn-icon">
								New Withdrawal<i class="material-symbols-outlined">payments</i>
							</a>
						</div>
					</div>
				}
			</div>
			<div class="personal-info-holder">	
				<h4>Personal info</h4>
				<div class="activate-deactivate">
					@if (Model._customer.Gender == "Male")
					{
						<form method="post">
							<button type="submit" class="btn-thin-red">Deactivate User</button>
						</form>
					}
					else
					{
						<form method="post">
							<button type="submit" class="btn-thin-green">Activate User</button>
						</form>
					}
				</div>
				<div class="info-box">
					<div class="info-section">
						<h5>Basic details</h5>
						<p>Customer ID: @Model._customer.CustomerId</p>
						<p>Gender: @Model._customer.Gender</p>
						<p>Name: @Model._customer.GivenName @Model._customer.SurName</p>
						<p>Date of birth: @Model._customer.Birthday</p>
						@if (!String.IsNullOrEmpty(Model._customer.NationalId))
						{
							<p>National ID: @Model._customer.NationalId</p>
						}
						else
						{
							<p>National ID: N/A</p>
						}
					</div>
					<div class="info-section">
						<h5>Address</h5>
						<p>Street address: @Model._customer.StreetAddress</p>
						<p>Zip code: @Model._customer.ZipCode</p>
						<p>City: @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model._customer.City.ToLower())</p>
						<p>Country: @Model._customer.Country</p>
						<p>Country code: @Model._customer.CountryCode</p>
					</div>
					<div class="info-section">
						<h5>Contact information</h5>
						@if (!String.IsNullOrEmpty(Model._customer.TelephoneCountryCode))
						{
							<p>Phone number: +@Model._customer.TelephoneCountryCode @Model._customer.TelephoneNumber</p>
						}
						else
						{
							<p>Phone number: @Model._customer.TelephoneNumber</p>
						}
						<p>Email address: @Model._customer.EmailAddress</p>
					</div>
				</div>
				<a asp-page="/ViewSingleCustomer/EditCustomer" asp-route-id="@Model._customer.CustomerId" class="btn-view">
					Edit Information<i class="material-symbols-outlined"> edit </i>
				</a>
			</div>
		</div>
	</div>
</section>
