@page
@using System.Globalization
@model BankWebApp.Pages.ViewSingleCustomer.NewTransferModel
@{
}

<section id="new-transfer">
	<div class="container">
		<div class="title">
			<h2>New cash transfer from account @Model._account.AccountId</h2>
		</div>
		<div class="content">
			<div class="quick-links">
				<a asp-page="/ViewSingleCustomer/NewWithdrawal" asp-route-id="@Model._account.AccountId" class="btn-icon">New Withdrawal<i class="material-symbols-outlined">payments</i></a>
				<a asp-page="/ViewSingleCustomer/NewDeposit" asp-route-id="@Model._account.AccountId" class="btn-icon">New Deposit<i class="material-symbols-outlined"> savings</i></a>
			</div>
			<form method="post">
				<input type="hidden" asp-for="_newOutgoingTransfer.TransactionId">
				<input type="hidden" asp-for="_newOutgoingTransfer.AccountId">
				<input type="hidden" asp-for="_newOutgoingTransfer.Type">
				<input type="hidden" asp-for="_newOutgoingTransfer.Date">
				<input type="hidden" asp-for="_newOutgoingTransfer.Balance">
				<input type="hidden" asp-for="_newOutgoingTransfer.Amount">
				<div class="form-card">
					<div class="form-header">
						<a class="btn-discard"asp-page="/ViewSingleCustomer/ViewAccount" asp-route-id="@Model._account.AccountId">
							<span class="text">Cancel withdrawal</span>
							<span class="material-symbols-outlined">close</span>
						</a>
					</div>
					<div class="form-part">
						<h3>Current Account Balance: @Model._account.Balance.ToString("C2", new CultureInfo("sv-SE"))</h3>
						<div class="form-line">
							<div class="form-group">
								<label asp-for="_newOutgoingTransfer.AmountInput"></label>
								<input type="text" class="numerical-field" asp-for="_newOutgoingTransfer.AmountInput">
								<span asp-validation-for="_newOutgoingTransfer.AmountInput" class="field-validation-error"></span>
								@Html.ValidationMessage("AmountInput")
							</div>
							<div class="form-group">
								<label asp-for="_newOutgoingTransfer.ReceivingAccountId"></label>
								<input type="text" class="numerical-field" asp-for="_newOutgoingTransfer.ReceivingAccountId">
								<span asp-validation-for="_newOutgoingTransfer.ReceivingAccountId" class="field-validation-error"></span>
								@Html.ValidationMessage("ReceivingAccountId")
							</div>
						</div>
						<div class="form-line">
							<div class="form-group">
								<label asp-for="_newOutgoingTransfer.Operation"></label>
								<input type="text" class="text-field" asp-for="_newOutgoingTransfer.Operation">
								<span asp-validation-for="_newOutgoingTransfer.Operation" class="field-validation-error"></span>
								@Html.ValidationMessage("Operation")
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<button class="btn-large"type="submit">Submit<span class="material-symbols-outlined">check</span></button>
				</div>
			</form>
		</div>
	</div>
</section>